.modal_overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    opacity: 1;
    animation: show__modal 0.5s ease;
    overflow-x: hidden;
    overflow-y: auto;
}

@keyframes show__modal {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: flex;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hidden__modal {
    display: none;
}

.custom__modal__container {
    max-width: 85%;
    width: 100%;
    margin-top: 5%;
    min-height: 120px;
    padding: 0;
    background: #ffffff;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
    position: relative;
    margin: auto;
    border-radius: 10px;
    .close__button {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
        border: none;
        cursor: pointer;
        outline: none;
        border-top-right-radius: 10px;
        box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
        background-color: #d8d8d8;
        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 1.2rem;
            left: 0.5rem;
            width: 1.5rem;
            height: 0.1rem;
            background-color: #666;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}
