.item {
    position: relative;
    height: 24rem;
    background-color: lightGrey;
    overflow-y: hidden;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    &:hover,
    &:focus {
        .item__overlay {
            transform: translate3d(0, 0, 0);
            .card-desc {
                transform: translate3d(0, 0, 0);
                background-color: transparent;
            }
            .item__body {
                opacity: 1;
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

    .card-desc {
        margin: 0;
        display: block;
        padding: 1rem;
    }

    .item__overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        transition: transform 300ms;
        background-color: rgba(88, 44, 131, 0.5);
        transform: translate3d(0, 72%, 0);
        .card-desc {
            color: #fff;
            h4 {
                font-size: 18px;
            }
            h3 {
                font-size: 24px;
            }
        }
    }

    .item__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        padding: 1rem;
        color: #fff;
        p {
            margin: 0;
        }

        .play-button {
            line-height: unset !important;
            background-color: #0093b2;
        }
    }
}
