.who__we__main {
    width: 100%;
    .who__we__container {
        width: 100%;
        .contents {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 540px;
            background-position: 50% top;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            position: relative;
            overflow: hidden;
            background-image: url("https://caas.athenahealth.com/sites/default/files/img%402x.png");
            .info__container {
                position: absolute;
                max-width: 713px;
                margin: auto;
                > div {
                    .title_header {
                        font-size: 18px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: center;
                        color: #fff;
                    }
                }
                .divider {
                    width: 40px;
                    height: 3px;
                    margin: 25px auto 0;
                    background-color: #ffffff;
                }
                .sub__title {
                    margin-top: 21px;
                    p {
                        font-size: 36px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.22;
                        letter-spacing: normal;
                        text-align: center;
                        color: #fff;
                    }
                }
                .desc {
                    p {
                        font-size: 18px;
                        font-weight: 400;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.33;
                        letter-spacing: normal;
                        text-align: center;
                        color: #fff;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}
